DB_HOST="postgres"
DB_USER="benpro"
DB_PASSWORD="master"
DB_NAME="dev_master"
DB_PORT="5432" 

PGADMIN_DEFAULT_EMAIL="root@admin.com"
PGADMIN_DEFAULT_PASSWORD="password"

JWT_PRIVATE_KEY="my_ultra_secure_secret"
TOKEN_TTL="60m"

SESSION_EXP="86400"      # { 60 * 60 * 24 }
SESSION_SECRET="my_ultra_secure_secret"
SESSION_KEY="app_session"