# Database credentials
DB_HOST="<<DB_HOST>>"
DB_USER="<<DB_USER>>"
DB_PASSWORD="<<DB_PASSWORD>>"
DB_NAME="diary_app"
DB_PORT="<<DB_PORT>>"

# Slave credentials
SLAVE_DB_HOST="<<SLAVE_DB_HOST>>"
SLAVE_DB_NAME="<<SLAVE_DB_NAME>>"
SLAVE_DB_USER="<<SLAVE_DB_USER>>"
SLAVE_DB_PASSWORD="<<SLAVE_DB_PASSWORD>>"
SLAVE_DB_PORT="<<SLAVE_DB_PORT>>"

# Authentication credentials
TOKEN_TTL="2000"
JWT_PRIVATE_KEY="<<JWT_PRIVATE_KEY>>"

# Session
SESSION_EXP="86400" 
SESSION_SECRET="<<SESSION_SECRET>>"
SESSION_KEY="<<SESSION_KEY>>"

BASE_HOST="127.0.0.1:8008"
BASE_URL="http://127.0.0.1:8008"
